<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.ieltsMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.model.entity.ielts" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="stu_id" property="stuId" jdbcType="INTEGER" />
    <result column="overall" property="overall" jdbcType="DOUBLE" />
    <result column="speaking" property="speaking" jdbcType="DOUBLE" />
    <result column="reading" property="reading" jdbcType="DOUBLE" />
    <result column="listening" property="listening" jdbcType="DOUBLE" />
    <result column="writing" property="writing" jdbcType="DOUBLE" />
    <result column="test_date" property="testDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, stu_id, overall, speaking, reading, listening, writing, test_date
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.demo.model.entity.ieltsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from tbl_ielts
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tbl_ielts
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbl_ielts
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.demo.model.entity.ieltsExample" >
    delete from tbl_ielts
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.demo.model.entity.ielts" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
    insert into tbl_ielts (id, stu_id, overall, 
      speaking, reading, listening, 
      writing, test_date)
    values (#{id,jdbcType=INTEGER}, #{stuId,jdbcType=INTEGER}, #{overall,jdbcType=DOUBLE}, 
      #{speaking,jdbcType=DOUBLE}, #{reading,jdbcType=DOUBLE}, #{listening,jdbcType=DOUBLE}, 
      #{writing,jdbcType=DOUBLE}, #{testDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.model.entity.ielts" >
    insert into tbl_ielts
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="stuId != null" >
        stu_id,
      </if>
      <if test="overall != null" >
        overall,
      </if>
      <if test="speaking != null" >
        speaking,
      </if>
      <if test="reading != null" >
        reading,
      </if>
      <if test="listening != null" >
        listening,
      </if>
      <if test="writing != null" >
        writing,
      </if>
      <if test="testDate != null" >
        test_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="stuId != null" >
        #{stuId,jdbcType=INTEGER},
      </if>
      <if test="overall != null" >
        #{overall,jdbcType=DOUBLE},
      </if>
      <if test="speaking != null" >
        #{speaking,jdbcType=DOUBLE},
      </if>
      <if test="reading != null" >
        #{reading,jdbcType=DOUBLE},
      </if>
      <if test="listening != null" >
        #{listening,jdbcType=DOUBLE},
      </if>
      <if test="writing != null" >
        #{writing,jdbcType=DOUBLE},
      </if>
      <if test="testDate != null" >
        #{testDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.demo.model.entity.ieltsExample" resultType="java.lang.Integer" >
    select count(*) from tbl_ielts
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tbl_ielts
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.stuId != null" >
        stu_id = #{record.stuId,jdbcType=INTEGER},
      </if>
      <if test="record.overall != null" >
        overall = #{record.overall,jdbcType=DOUBLE},
      </if>
      <if test="record.speaking != null" >
        speaking = #{record.speaking,jdbcType=DOUBLE},
      </if>
      <if test="record.reading != null" >
        reading = #{record.reading,jdbcType=DOUBLE},
      </if>
      <if test="record.listening != null" >
        listening = #{record.listening,jdbcType=DOUBLE},
      </if>
      <if test="record.writing != null" >
        writing = #{record.writing,jdbcType=DOUBLE},
      </if>
      <if test="record.testDate != null" >
        test_date = #{record.testDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tbl_ielts
    set id = #{record.id,jdbcType=INTEGER},
      stu_id = #{record.stuId,jdbcType=INTEGER},
      overall = #{record.overall,jdbcType=DOUBLE},
      speaking = #{record.speaking,jdbcType=DOUBLE},
      reading = #{record.reading,jdbcType=DOUBLE},
      listening = #{record.listening,jdbcType=DOUBLE},
      writing = #{record.writing,jdbcType=DOUBLE},
      test_date = #{record.testDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.model.entity.ielts" >
    update tbl_ielts
    <set >
      <if test="stuId != null" >
        stu_id = #{stuId,jdbcType=INTEGER},
      </if>
      <if test="overall != null" >
        overall = #{overall,jdbcType=DOUBLE},
      </if>
      <if test="speaking != null" >
        speaking = #{speaking,jdbcType=DOUBLE},
      </if>
      <if test="reading != null" >
        reading = #{reading,jdbcType=DOUBLE},
      </if>
      <if test="listening != null" >
        listening = #{listening,jdbcType=DOUBLE},
      </if>
      <if test="writing != null" >
        writing = #{writing,jdbcType=DOUBLE},
      </if>
      <if test="testDate != null" >
        test_date = #{testDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.model.entity.ielts" >
    update tbl_ielts
    set stu_id = #{stuId,jdbcType=INTEGER},
      overall = #{overall,jdbcType=DOUBLE},
      speaking = #{speaking,jdbcType=DOUBLE},
      reading = #{reading,jdbcType=DOUBLE},
      listening = #{listening,jdbcType=DOUBLE},
      writing = #{writing,jdbcType=DOUBLE},
      test_date = #{testDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>